/* Red Eye Photo Stylesheet */ 

html body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Montserrat;
	font-weight: 100;
}

.header {
	height: 80px;
	width: 100%;
	border-bottom: 4px solid #999;
}

.header h1 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1.0px;
	padding-top: -10px;

}

.nav ul li {
	display: inline;
	list-style: none;
}

.main .nav {
	text-align: center;
	font-size: 17px;
	font-weight: 100;
	padding-top: 15px;
	padding-bottom: 2px;
}


.nav li {
	padding-left: 10px;
}

.nav a {
	text-decoration: none;
	color: #999;
	
}

.nav a:hover {
	color: rgb(24, 40, 51);
	transition: .7s;
}

.row {
	max-height: 400px;
	
}

img {
	width: 100%;
	
}

.footer {
	background-color: #999;
	color: white;
	clear: both;
}

.footer p {
	clear: both;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	text-align: right;
	font-size: 14px;

	
}

.about {
	text-align: left;
}

.about h2 {
	border-bottom: 2px solid #999;
}

.gallery .container {
	background-color: #999; 
	padding: 3px 10px 3px 10px;
}

.gallery .container p{
	font-size: 11px;
	margin-top: 1px;
	margin-bottom: -2px;
}
.col-md-6 img {
	width: 100%;
	height: auto;
	padding-top: 6px;
	padding-bottom: 6px;
	transition-property: all;
	transition-duration: 220ms;
	transform: translate(0, 0, 0);
}


.contact a{
	text-decoration: none;
	color: #999;
}

.photos img{
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 20px;
	border: 20px solid #4C4B49;

}





























